<html>
	<head>
		<title> This is the login page </title>
	</head>	

	<body>
		<h1> Hi, {{page_title}} </h1>
		<p> Please enter your login details </p>
		{% if method == 'create' %}
		<form action="/create-account" method="POST">
	  	<input name="username" placeholder="username">
	  	<input type="password" name="password" placeholder="password">
		<input type="submit" value="Login">
		</form>		
		{% endif %}

		{% if method == 'login' %}
		<form action="/account/{{uid}}" method="POST">
	  	<input name="username" placeholder="username">
	  	<input type="password" name="password" placeholder="password">
		<input type="submit" value="Login">
		</form>		
		{% endif %}
	</body>

</html>