<html>
    <head>
        <title>{{mytitle}}</title>
    </head>
    <body>
    	<h1> Making a payment </h1>
        <p> Enter recipient payment details </p>
        <form action="/account/{{uid}}/pay" method="POST">
        <input name="uid" placeholder="Recipients Account Number">
        <input name="password" name="password" placeholder="Your Password">
        <input type="text" name="amount" placeholder="Amount">
        <input type="submit" value="Make Payment">
    </body>
</html>